<!DOCTYPE html>
<html ng-app>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Eric Farley | Web Developer Extraordinaire!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <section id="wrapper">
        	<header class="row" ng-controller="HeadCtrl">
                <section class="col-md-6 col-sm-12">
                    <img src="img/logo.png" alt="Eric Farley" title="Eric Farley" id="logo" class="img-responsive" />
                </section>
                <!-- mobile nav handle added via jQuery in main.js -->
                <section id="navHandle"><span>Navigation</span></section>
                <nav id="{{nav.id}}" ng-repeat="nav in navs" class="col-md-6 col-sm-12">
                    <article>
                        <a ng-repeat="page in pages" href="{{page.href}}">{{page.text}}</a>
                    </article>      
                </nav>               
            </header>
            <section id="pages">
                <section id="home" class="page">            	
                    <section class="row" id="headline">
                        <article>
                            The web is the <span class="em">&lt;future&gt;</span> and I am thrilled to be it's <span class="em">&lt;architect&gt;</span>
                        </article>
                    </section>
                  	<section id="filter"></section>
                    <section id="videoWrapper">
                        <video preload="auto" autoplay="true" loop="loop" muted="muted" volume="0" id="video"> 
                            <source src="video/clouds.mp4"> 
                            <source src="video/clouds.ogv" type="video/ogv"> 
                            <source src="video/clouds.webm" type="video/webm"> 
                        </video>
                    </section>
                </section>
                <section id="about" class="page">
                    <article>
                    	<h2><span><em>About Me</em>  / </span>What makes me awesome</h2>
                        <p>My name is eric and I’m just writting some bullshit right now to see how this all looks. I think I want a few lines of text so... her name is yoshimi, shes a black belt in karate. Working for the city. She has to disipline her body. Because she knows that, it’s demanding. To defeat thouse evil machines. I know she can beat them. Oh Yoshimi, they don’t believe me, oh you won’t let thouse robots defaeat me. </p>
                </section>
                <section id="portfolio" class="page" ng-controller="portfolioCtrl">
                    <article>
                        <h2><span><em>Portfolio</em>  / </span>A taste of the work I've done</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis convallis sapien, at auctor lorem. Ut accumsan mauris non risus convallis, ultricies lacinia purus scelerisque. Proin suscipit elit non odio aliquet, eu dignissim ligula pharetra. Ut ac aliquam ligula, a dignissim quam. Nullam et arcu eu mi vehicula luctus. Nam est urna, vulputate ac leo in, euismod venenatis enim. Proin posuere cursus justo at fermentum. Curabitur mauris eros, pharetra quis venenatis eget, lobortis tempus ligula.</p>
                    </article>
                    <section class="project" ng-repeat="project in projects" data-id="{{$index}}">
                        <img src="img/{{project.src}}.png" title="{{project.title}}" />
                        <article>
                            <span class="name">{{project.name}}</span>
                            <p>{{project.desc}}</p>
                            <a href="http://www.{{project.url}}" target="_blank" title="{{project.url}}">View Site</a>
                        </article>
                    </section>
                </section>
            </section>
        </section>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/angular.min.js"><\/script>')</script>     
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
//            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
//            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
//            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
//            e.src='//www.google-analytics.com/analytics.js';
//            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
//            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
